@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

.content {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 2rem 0;
  max-width: 800px;
  font-family: 'Roboto', sans-serif;
}

img {
  width: 20rem;
  display: block;
}

.first-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.first-content-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.main-paragraph {
  margin-top: 60px;
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
}

.website {
  color: #D6000D;
  font-size: 3rem;
}

#request-order {
  background-color: #D6000D;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 70px;
  cursor: pointer;
  font-size: 1.2rem;
  margin-bottom: 40px;
}

button:hover,
#request-order:hover {
  background-color: #000;
}

.third-content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.third-content-item div input {
  background-color: #d3d3d3;
  border: none;
  padding: 15px;
  border-radius: 10px;
}

.third-content-item p {
  font-weight: bold;
}

.services {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.contact {
  display: grid;
  justify-content: center;
  gap: 20px;
}

.callService {
  background-color: #D6000D;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 70px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 40px;
}

li:not(.nav-item) {
  list-style-image: url('../../assets/images/circle-check.svg');
}

.fourth-content-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

.card-one,
.card-two {
  max-width: 300px;
  margin-top: 30px;
  border-radius: 10px;
  padding: 2px 0px 1px 60px;
  position: relative;
  border: 2px solid;
  background-image: url('../../assets/images/grayBG.jpg');
}

.card-one:hover,
.card-two:hover {
  box-shadow: 10px 10px 5px #888888;
}

.card-one,
.card-two p {
  font-size: .9rem;
}

.card-one p+p,
.card-two p+p {
  font-weight: bold;
}

.card-one::after {
  content: "";
  background-color: #D6000D;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  text-align: 47px;
  left: 4px;
  top: 30px;
}

.card-two::after {
  content: "";
  background-color: #D6000D;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  text-align: 47px;
  left: 4px;
  top: 30px;
}

@media screen and (min-width: 702px) {
  .content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    margin: 2rem 0;
    max-width: 100%;
  }

  .second-content-item {
    grid-column: 1;
    grid-row: 2;
  }

  .third-content-item {
    align-items: flex-start;
  }

  .third-content-item div input {
    align-self: flex-start;
  }

  .callService {
    padding: 1rem 1rem;
  }

  .contact {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
  }

  img {
    width: 30rem;
    display: block;
  }

  .main-paragraph {
    font-size: 2.5em;
  }

  .website {
    font-size: 5rem;
  }

  .cards {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }

  .card-two {
    align-self: normal;
  }

}