nav {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-family: Roboto;
  width: 100%;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

h1 {
  color: #D6000D;
  padding-left: 10px;
  font-style: italic;
}

span {
  color: #000;
}

.ul-nav {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.login-button {
  display: none;
}

a:hover {
  color: #fff;
  background-color: #000;
}

@media (mix-width: 704px) {

  .login-button {
    background-color: #D6000D;
    color: #fff;
    padding: 10px 50px;
    gap: 20px;
  }

  nav {
    justify-items: center;
  }
}